:root {
    --dark-purple: #282E51;
    --darkest-purple: #131627;

    --medium-purple: #4C6E8F;
    --light-blue: #739EB6;
    --white-blue: #BAD2E8;
    --medium-blue: #4C75C1;
    --dark-blue: #073460;
    --coral: #ED6E60;
    --light-coral: #f5c8c3;
    --black: #1d1d1d;

}

* {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

body {
    margin: 0;
    width: 100%;
    background-color: var(--darkest-purple);
    overflow-x: hidden;
}

.name {
    font-size: 40px;
    font-weight: 600;
    font-family: Montserrat;
    letter-spacing: 3px;
}

.tagline {
    letter-spacing: .2rem;
    font-size: 14px;
}

#main {
    transition: margin-left .5s;
    position: absolute;
    top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.light-mode {
    display: flex;
}

.switch-mode-btn {
    border: none;
    background: none;
}

.sunny {
    /* color: var(--coral); */
    color: white;
    opacity: 80%;

    font-size: 40px;
    padding: 10px;
}

.darkicon {
    padding: 10px;
    /* color: var(--dark-blue); */
    color: white;
    font-size: 12px;
    position: absolute;
    left: 40%;
    top: -10px;
    opacity: 50%;
}

.presentation {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    justify-content: center;
    align-items: center;
}


.pulse {
    animation: pulse 0.7s infinite;
    margin: 0 auto;
    display: table;
    margin-top: 50px;
    animation-direction: alternate;
    -webkit-animation-name: pulse;
    animation-name: pulse;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        -webkit-filter: brightness(100%);
    }

    100% {
        -webkit-transform: scale(1.1);
        -webkit-filter: brightness(200%);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
        filter: brightness(100%);
    }

    100% {
        transform: scale(1.1);
        filter: brightness(200%);
    }
}